<section class='<%= form_container_classes %>'>
  <h1 class='mb4 f3 f2-l tc'>
    <%= t('welcome.change_password') %>
  </h1>

  <div class="w-100 tc">
    <img src="https://res.cloudinary.com/hab6pkdiw/image/upload/v1613390755/assets/undraw_security_o890.png" class="w4" />
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.explanation :password, 'no mínimo 6 letras' if @minimum_password_length %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.submit 'Alterar senha' %>
  <% end %>

  <%= render "users/shared/links" %>
</section>
